<div id="gift-information" style="display:none">
  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label "From" %>
      <%= form.text_field :from, class: "form-control", placeholder: "Grammy and Grampy" %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label "Message (Optional)" %>
      <%= form.text_area :message, class: "form-control", placeholder: "Message to child"%>
    </div>
  </div>
</div>